* 
{ 
    box-sizing: border-box; 
    font-family: sans-serif;
}

.wrapper
{
    width: 800px;
}

.game-stats
{
    justify-content: center;

    display: flex;

    margin: 50px 0;
}

.score-text,
.score
{
    font: 500 30px sans-serif;
}

.grid
{
    flex-wrap: wrap;

    display: flex;

    width: 600px;
    margin: 0 auto;
}

.grid div
{
    width: 50px;
    height: 50px;
    border: 1px solid #777777;

    background-color: #ededed;
    
    font-size: 10px;
}

.grid .static
{
    background-color: #8b8b8b;
}

.grid .border_top
{
    background-color: #ffe9e1;
}

.grid .cross
{
    background-color: #94e1ff;
}

.grid .circle
{
    background-color: #afe963;
}

.grid .triangle
{
    background-color: #cb8bff;
}

.grid .square
{
    background-color: #e9a463;
}

.grid .border
{
    background-color: transparent;
    border: none;
}
