* 
{ 
    font-family: sans-serif;
}

:root
{
    --color-gray: #9b9b9b;
    --color-gray-dark: #747474;
    --color-gray-light: #efefef;

    --color-circle: #c6db8f;
    --color-cross: #9dced5;
    --color-triangle: #bda0cf;
    --color-square: #fdcb8e;
}

.wrapper
{
    width: 800px;
}

.game-stats
{
    justify-content: center;

    display: flex;

    margin: 50px 0;
}

.score-text,
.score
{
    font: 500 30px sans-serif;
    color: var(--color-gray-dark)
}

.grid
{
    flex-wrap: wrap;

    display: flex;

    width: 600px;
    margin: 0 auto;
}

.grid div
{
    width: 50px;
    height: 50px;
    /* border: 1px solid #777777; */

    background-color: var(--color-gray-light);
    
    font-size: 10px;
}

.grid .static
{
    background-color: #8b8b8b;
}

.grid .border_top
{
    border-bottom: 1px solid var(--color-gray);
}

.grid .cross
{
    background-image: url('assets/img/cross.svg');
    background-color: var(--color-cross);
}

.grid .circle
{
    background-image: url('assets/img/circle.svg');
    background-color: var(--color-circle);
}

.grid .triangle
{
    background-image: url('assets/img/triangle.svg');
    background-color: var(--color-triangle);
}

.grid .square
{
    background-image: url('assets/img/square.svg');
    background-color: var(--color-square);
}

.grid .border
{
    background: none;
    border: none;
}

@keyframes scoreAnimation
{
    0% {
        box-shadow: 0 0 2px var(--color-gray);
    }
    25% {
        box-shadow: 0 0 0 var(--color-gray);
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.grid .floating-score
{
    color: var(--color-gray);
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    animation: scoreAnimation 1s linear forwards;
}
