@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@700&display=swap');
/*
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
*/
:root {
    --gold-color: #bdae82;
}

* {
    font: 20px 'Inter', sans-serif;
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
}

svg,
a {
    transition: 0.4s;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--gold-color);
}

h1,
p {
    margin: 0;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav {
    margin-left: auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 20px; 
    margin: 0;
    
    list-style: none;
}

.nav-link {
    margin: 0 15px;
    line-height: 50px;
    font-size: 20px;
}


.header .container {
    display: flex;
    align-items: center;

    background: url('assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.logo {
    display: block;
    width: 50px;
    height: 50px;
    margin: 20px;
    fill: #ffffff;
}

.logo:hover {
    fill: var(--gold-color);
}

.button-change-language {
    margin-right: 20px;
    font-size: 20px;
    font-weight: 700;
}

.color-gold {
    font-weight: inherit;
    font-size: inherit;
    color: var(--gold-color);
}

.hero-container {
    height: 820px;

    padding-bottom: 100px;

    background-image: url('assets/img/bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
}

#hero {
    padding: 160px 0 0 80px;
}

#hero h1 {
    font: 700 60px 'Merriweather', serif;
    line-height: 120px
}

#hero p {
    font-size: 20px;
    line-height: 40px;

    margin: 10px 0 25px 0;
}

.button {
    color: #000000;
    background-color: var(--gold-color);
    width: 220px;
    height: 55px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

.button:hover {
    color: #ffffff;
}

.section-title {
    display: flex;
    width: 49vw;
    height: 80px;
    padding: 0 20px;
    margin: 0 auto 60px auto;
    overflow: hidden;
    font: 700 40px 'Merriweather', serif;
    text-align: center;
    color: var(--gold-color);
    font-size: 40px;
    line-height: 80px;
}

.section-title::after {
    width: 400px;
    height: 0px;

    margin: 39px 20px;

    content: '';
    border: 1px solid var(--gold-color);
}
.section-title::before {
    width: 400px;
    height: 0px;
    content: '';

    margin: 39px 20px;

    border: 1px solid var(--gold-color);
}

.skills-container {
    height: 482px;
}

.skills-section {
    width: 320px;
    height: 240px;
    padding: 0 20px 2px 20px;
}

.skills-row {
    display: flex;
    justify-content: center;

    text-align: center;
}

.skills-row h2 {
    font-weight: 700;
    line-height: 40px;
    margin: 45px 0 20px 0;
}

.skills-row p {
    font-size: 18px;
    line-height: 36px;
}